protocols {
  bgp {
    group internal {
      {%- for item in bgp.neighbors %}
      neighbor {{ bgp.neighbors[item]['ip'] }};
      {%- endfor %}
    }
  }
}
routing-options {
  static {
      {%- for item in bgp.routes %}
      route {{ item }} discard;
      {%- endfor %}
  }
}
